/* Theme 스타일 작성 */

:root {
  --black: #181818;
  --white: #ffffff;
  --gray--100: #f3f3f3;
  --gray--200: #e7e7e7;
  --gray--300: #dcdcdc;
  --gray--400: #d0d0d0;
  --gray--500: #c4c4c4;
  --gray--600: #aaa9a9;
  --gray--700: #767676;
  --gray--800: #4e4e4e;
  --gray--900: #272727;
  --blue--100: #cceafa;
  --blue--200: #65cde3;
  --blue--300: #61bfe6;
  --blue--400: #33abe9;
  --blue--500: #0096e4;
  --blue--600: #0074e9;
  --blue--700: #005a89;
  --blue--800: #003c5b;
  --blue--900: #001e2e;
  --opacity--20: rgba(0, 0, 0, 0.20000000298023224);
  --red--100: #fad3d6;
  --red--200: #f5a7ac;
  --red--300: #ef7b83;
  --red--400: #ea4f59;
  --red--500: #e52330;
  --red--600: #b71c26;
  --red--700: #89151d;
  --red--800: #5c0e13;
  --red--900: #2e070a;
  --yellow--100: #fef2d9;
  --yellow--200: #fde4b4;
  --yellow--300: #fdd78e;
  --yellow--400: #fcc969;
  --yellow--500: #fbbc43;
  --yellow--600: #ff9b05;
  --yellow--700: #977128;
  --yellow--800: #644b1b;
  --yellow--900: #32260d;
  --green--100: #f4f5d2;
  --green--200: #e9eba5;
  --green--300: #dde177;
  --green--400: #d2d74a;
  --green--500: #c7cd1d;
  --green--600: #9fa417;
  --green--700: #777b11;
  --green--800: #50520c;
  --green--900: #282906;
  --brown--100: #dfd5d4;
  --brown--200: #bfaba9;
  --brown--300: #9d7a6d;
  --brown--400: #7e5852;
  --brown--500: #5e2e27;
  --brown--600: #4b251f;
  --brown--700: #381c17;
  --brown--800: #261210;
  --brown--900: #130908;
  --purple--100: #dfd8f2;
  --purple--200: #beb0e6;
  --purple--300: #9e89d9;
  --purple--400: #7d61cd;
  --purple--500: #5d3ac0;
  --purple--600: #4a2e9a;
  --purple--700: #382373;
  --purple--800: #25174d;
  --purple--900: #130c26;
}
